.Home {
  position: relative;
  display: grid;
  grid-template-columns: 20rem auto 20rem;
  gap: 1rem;
  padding: 0 10%;
  height: 100%;
  overflow: hidden;
}

@media (max-width: 1000px) {
  .Home {
    padding: 0;
    grid-template-columns: auto;
  }
  .ProfileSide {
    display: none;
  }
  .RightSide {
    display: none;
  }
} ;
