.Auth {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 4rem;
  position: relative;
}

.Auth > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* left side */
.a-left {
  gap: 2rem;
}

.a-left > img {
  width: 4rem;
  height: 4rem;
}

.Webname > h1 {
  font-size: 3rem;
  background-color: #ffffff;

  /* Create the gradient. */
  background-image: var(--buttonBg);

  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.Webname > h6 {
  font-size: 0.85rem;
}

.infoForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.infoInput {
  border: none;
  outline: none;
  background-color: var(--inputColor);
  border-radius: 8px;
  padding: 20px;
  flex: 1;
}
input[type="radio"] {
  display: none;
}
select {
  border: none;
  outline: none;
  color: #fff;
  font-size: 13px;
  background-color: var(--inputColor);
  padding: 18px;
  border-radius: 8px;
  width: 100%;
}
select > option {
  color: black;
  border-radius: 8px;
}

select > option:hover {
  background-color: var(--buttonBg);
}

input[type="radio"] + label {
  color: #ffffff;
  font-size: 13px;
  background-color: var(--inputColor);
  padding: 15px;
  border-radius: 8px;
  width: 100%;
  cursor: pointer;
}

input[type="radio"] + label span {
  margin: -3px 5px 0 0;
  vertical-align: middle;
  /* background: var(--buttonBg); */
  border-radius: 50%;
  cursor: pointer;

  -webkit-appearance: none;
  background-color: #e1e1e1;
  border: 2px solid #e1e1e1;
  display: inline-block;
  position: relative;
  width: 12px;
  height: 12px;
}

input[type="radio"]:checked + label span {
  background: var(--buttonBg);
  border: 2px solid #e1e1e1;
}

.infoForm > div {
  display: flex;
  gap: 1rem;
  height: 2rem;
  width: 90%;
}

.infoButton {
  width: 6rem;
  height: 2rem;
  align-self: flex-end;
}

.authForm {
  background-color: var(--cardColor);
  border-radius: 1rem;
  padding: 1rem;
  /* width: 25rem; */
}

.authForm > div {
  width: 100%;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
}
