.Profile {
  position: relative;
  display: grid;
  grid-template-columns: 20rem auto 20rem;
  gap: 1rem;
  padding: 0 10%;
}

.Profile-center {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* flex: 5.5; */
}

/* @media (max-width: 900px) {
  .Profile-center {
    padding: 0px;
  }
    position: relative;
  display: grid;
  grid-template-columns: 20rem auto 20rem;
  gap: 1rem;
  padding: 0 10%;
} */
