.Profile {
  position: relative;
  display: flex;
  flex: 3;
  flex-direction: row;
  /* grid-template-columns: 18rem auto 20rem; */
  gap: 1rem;
}

.Profile-center {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 5.5;
  padding: 0 9.375rem;
}

@media (max-width: 900px) {
  .Profile-center {
    padding: 0px;
  }
}
